<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Josef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>619FD4731E8AE28B00D27A2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619FD4871E8AE28C00D27A2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619FD4921E8AE28C00D27A2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
